@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=League+Gothic&family=Zen+Dots&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

html {
  color-scheme: dark light;
  font-size: 10px;
  font-family: "League Gothic", sans-serif;
  scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

.main-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  animation: onload 2s;
}

@keyframes onload {
  0% {
    opacity: 0;
  } 

  50% {
    opacity: 0;
  }
    
  100% {
    opacity: 1;
  }
}

.text h2 {
  font-size: 10rem;
  text-transform: uppercase;
}

.main-container .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main-container .topbox {
  display: flex;
  margin: 0;
  letter-spacing: 2px;
  gap: 2rem;
  border: none;
  font-size: 2rem;
  width: 75%;
}

.topbox .name {
  display: flex;
  flex-direction: column;
}

.topbox .email {
  display: flex;
  flex-direction: column;
}

.topbox input {
  font-size: 2rem;
  padding: 1rem 7rem 7px 1rem;
}

.form .bottombox {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 1rem 0 0 0;
  padding: 0;
}

.bottombox label {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.bottombox textarea {
  font-size: 2rem;
  padding-left: 7px;
  resize: none;
  padding: 1rem 7rem 7px 1rem;
  width: 164%;
}

.button {
  text-decoration: none;
  max-width: 11rem;
  margin-top: 1rem;
  padding: .5em 2.5em;
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #000;
  background-color: #d3d3d3;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: rgba(43, 47, 255, 0.753);
  box-shadow: 0px 8px 20px rgb(43, 46, 255);
  color: #fff;
  transform: translateY(-7px);
}

.button:active {
  transform: translateY(-1px);
}

@media (max-width: 896px) {
  .main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  
  .text h2 {
    font-size: 6rem;
    text-transform: uppercase;
  }
  
  .main-container .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .main-container .topbox {
    display: flex;
    margin: 0;
    letter-spacing: 2px;
    gap: 2rem;
    border: none;
    font-size: 2rem;
    width: 75%;
  }
  
  .topbox input {
    font-size: 2rem;
    padding: 1rem 7rem 7px 1rem;
  }
  
  .form .bottombox {
    display: flex;
    flex-direction: column;
    border: none;
    margin: 1rem 0 0 0;
    padding: 0;
  }
  
  .bottombox label {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .bottombox textarea {
    font-size: 2rem;
    padding-left: 7px;
    resize: none;
    padding: 1rem 7rem 7px 1rem;
    width: 164%;
  }
}