a {
  transition: 0.5s ease-out;
  opacity: 0.5;
}

.logo {
  text-decoration: none;
  font-size: 4rem;
  transform: scaleX(-1);
  display: flex;
  color: black;
  margin-left: 10%;
}

.logo > p {
  transform: scaleX(-1);
}