a {
  transition: 0.5s ease-out;
}

.logo {
  text-decoration: none;
  font-size: 4rem;
  transform: scaleX(-1);
  display: flex;
  color: black;
  margin-left: 10%;
  animation: fadein 2s;
}

.logo > p {
  transform: scaleX(-1);
}

.logo:hover {
  scale: 1.1;
}


@keyframes fadein {
  0% {
      opacity: 0;
  }
  
  25% {
      opacity: 0;
  }

  50% {
      opacity: 0;
  }
  
  75% {
      opacity: 1;
  }
  
  100% {
      opacity: 1;
  }
}