/* Overlay */

@media (min-width: 426px) and (max-width: 896px) {
    .overlay {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      background-color: rgb(0,0,0);
      overflow-y: hidden;
      transition: 0.5s;
    }
  
    .overlay-content {
      display: grid;
      grid-template-areas: 
      'home'
      'work'
      'about'
      'contact';
      text-align: center;
      font-family: 'League Gothic', sans-serif;
      text-transform: uppercase;
      margin-top: 20%;
      column-gap: 1px;
      row-gap: 1px;
  
    }
  
    .overlay a {
      padding: 8px;
      text-decoration: none;
      font-size: 5em;
      color: #d3d3d3;
      display: block;
      transition: 0.3s;
    }
    
    .overlay a:hover, .overlay a:focus {
      color: #f1f1f1;
    }
    }

/* Menu-button */

@media (min-width: 426px) and (max-width: 896px) {
    .navbar {
      overflow: hidden;
      background-color: inherit;
      position: fixed;
      top: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0;
      font-family: "Zen Dot", sans-serif;
      z-index: 2;
      margin-top: 1%;
    }
    
    .menu {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0;
      width: 25px;
      margin-right: 10%;
    }
    
    .line {
      fill: none;
      stroke: rgb(43, 46, 255);
      stroke-width: 4;
      transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .line1 {
      stroke-dasharray: 60 207;
      stroke-width: 4;
    }
    
    .line2 {
      stroke-dasharray: 60 60;
      stroke-width: 4;
    }
    
    .line3 {
      stroke-dasharray: 60 207;
      stroke-width: 4;
    }
    
    .opened .line1 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 4;
    }
    
    .opened .line2 {
      stroke-dasharray: 1 60;
      stroke-dashoffset: -30;
      stroke-width: 4;
    }
    
    .opened .line3 {
      stroke-dasharray: 90 207;
      stroke-dashoffset: -134;
      stroke-width: 4;
    }
  }

/* Logo = Joffrey */


@media (min-width: 426px) and (max-width: 896px) {
    a {
      transition: 0.5s ease-out;
      opacity: 0.5;
    }
    
    .logo {
      text-decoration: none;
      font-size: 2rem;
      transform: scaleX(-1);
      display: flex;
      color: black;
      margin-left: 10%;
    }
    
    .logo > p {
      transform: scaleX(-1);
    }
  }

  /* Footer */

  @media (min-width: 426px) and (max-width: 896px) {
    .container-4 {
      display: grid;
      grid-template-areas:
        "topbox "
        "bottombox";
      color: #d3d3d3;
      width: 100%;
      height: 100vh;
      background-color: black;
    }
    
    .topbox {
      border-bottom: 1px solid #d3d3d3;
      text-transform: uppercase;
      letter-spacing: 0.5em;
    }
    
    .topbox h2 {
      font-size: 1.8em;
    }
    
    .topbox h3 {
      font-size: 3.3em;
      font-weight: 100;
    }

    .topbox a {
      font-size: 2.2em;
      display: flex;
      justify-content: center;
      text-decoration: none;
      color: white;
    }
    
    .bottombox {
      border-bottom: none;
      margin: 0;
      padding-top: 5rem;
      display: grid;
      grid-template-areas:
        "bottombox-right"
        "bottombox-left";
      
    }
    
    .bottombox-left {
      display: flex;
      justify-self: center;
    }
    .bottombox-left #button {
      text-decoration: none;
      padding: .65em 1.5em;
      font-size: 1.7em;
      text-transform: uppercase;
      letter-spacing: 1.25px;
      color: #000;
      background-color: #fff;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
      text-align: center;
    }
    
    .bottombox-left #button:hover {
      background-color: rgba(43, 47, 255, 0.753);
      box-shadow: 0px 7.5px 10px rgb(43, 46, 255);
      color: #fff;
      transform: translateY(-3.5px);
    }
    
    .bottombox-left #button:active {
      transform: translateY(-0.5px);
    }
    
    .bottombox .bottombox-left .logo2 {
      text-decoration: none;
      color: #d3d3d3;
      font-size: 3rem;
      transform: scaleX(-1);
      padding: 2.5px 0;
      justify-content: center;
    }
    
    .bottombox .bottombox-left .logo2 p {
      transform: scaleX(-1);
    }
    
    .bottombox-right {
      display: grid;
      grid-template-areas: "bbr-left bbr-right";
      justify-items: center;
      text-transform: uppercase;
    }
    
    .bbr-left, .bbr-right {
      display: flex;
      flex-direction: column;
    }
    
    .bottombox-right h3 {
      font-size: 2.4rem;
      letter-spacing: 1px;
      font-weight: 100;
    }
    
    .bottombox-right a {
      font-size: 2rem;
      font-weight: 100;
      text-decoration: none;
      color: #d3d3d3;
    }
  }