body {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
  }

.person {
    --transform-speed: 250ms;
    position: relative;
    max-width: 10rem;
    margin-inline: auto;
    cursor: pointer;
    margin-top: 10rem;
  }
  
  .person__container {
    aspect-ratio: 1 / 1.35;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    transition: transform var(--transform-speed) ease;
  }
  
  .person__container:hover {
    transform: scale(1.2);
    z-index: -1;
  }
  
  .person__circle {
    position: absolute;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 100%;
    inset: auto 0 0;
    margin-inline: auto;
    border-radius: 50%;
  }
  
  .person__img {
    position: relative;
    top: 2rem;
    transition: transform calc(var(--transform-speed) * 1.2) ease;
  }
  
  .person__container:hover .person__img {
    transform: translateY(-2rem);
  }

.welcome h2 {
    position: absolute;
    margin: auto;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 3rem
}

.welcome h2 span {
    display: inline-block;
    animation: welcome 15s alternate 2s infinite;
}

.welcome h2 span:nth-child(7){
    animation-delay: 1.5s;
    animation-direction: repeat;
    color:#555555;
}
.welcome h2 span:nth-child(6){
    animation-delay: 2s;
    animation-direction: repeat;
    color:#555555;
}
.welcome h2 span:nth-child(5){
    animation-delay: 2.5s;
    animation-direction: repeat;
    color:#555555;
}
.welcome h2 span:nth-child(4){
    animation-delay: 3s;
    animation-direction: repeat;
    
}
.welcome h2 span:nth-child(3){
    animation-delay: 3.5s;
    animation-direction: repeat;
    color: #190eff;
}
.welcome h2 span:nth-child(2){
    animation-delay: 4s;
    animation-direction: repeat;
    color: #190eff;
}
.welcome h2 span:nth-child(1){
    animation-delay: 4.5s;
    animation-direction: repeat;
    color: #190eff;
}

@keyframes welcome {
    10%{
        transform: rotate(0deg) translateX(180px) translateY(150px) rotate(0deg)
    }
    50%{
        transform: rotate(360deg) translateX(180px)  translateY(150px)    rotate(360deg);
    }
}