@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=League+Gothic&family=Zen+Dots&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "League Gothic", sans-serif;
  scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 2rem;
}

#top {
  animation: zoom 2s;
}

@keyframes zoom {
  
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}